@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* !!! alterar box-body, não limitar o tamanho de nada!!! */
/* !!! arrumar imagem do undraw!!!*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.h1-login {
    font-family: 'Single Day' sans-serif;
    font-size: 65px;
    margin-top: 20px;
}

.imput-choose{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 104%;
}

.btn-choose{
    width: 12rem;
    height: 2.7rem;
    background-color: #FB9964;
    border-radius: 10px;
    font-family: 'Titillium Web', sans-serif;
    color: #ffffff;
    cursor: pointer;
}

.cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.box-body{
    background-image: url(/src/assets/banner-cadastro-fundo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.esquerda{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.direita{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.esquerda form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90%;
    background-color: #ffffffa1;
    width: 540px;
    border-radius: 15px;
}

.esquerda input{
    width: 28rem;
    height: 3rem;
    border-radius: 5px;
    padding-left: 5px;
    background-color: #FB9964;
}

.esquerda input::placeholder{
    font-family: 'Titillium Web', sans-serif;
    color: #ffffff;
    padding-left: 3px;
}

.btn-form{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: large;
    background-color: #ED8EC1;
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    width: 13rem;
    height: 3rem;
}

.conta{
    font-family: 'Open Sans', 'sans-serif';
    width: 250px;
    display: flex;
    justify-content: space-around;
}

.conta a{
    font-family: 'Titillium Web', sans-serif;
    color: #F03384;
    text-decoration-line: underline;
}

.redirect{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.redirect button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.redirect img{
    width: 32px;
    height: 34px;
    margin-right: 7px;
}