@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Titillium+Web:wght@300;400;600;700;900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

.main-meuschats{
    padding-top: 90px;
}

.banner-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    width: 80%;
    margin: 0 auto;
}

.figura-questionario{
    width: 48%;
}

.texto-principal{
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 90px;
    color: #662F81;
    max-width: 770px;
}

.btn-banner-principal{
    max-width: 365px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    width: 76%;
}

.btn-criar{
    background: #371A45;
    border-radius: 5px;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
    padding: 7px 62px;
}

.btn-volta{
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-decoration-line: underline;
    color: #371A45;
}

.banner-secundario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #371A45;
    padding: 75px 10%;
    margin: 60px 0px;
}

.figura-banner-secundario {
    width: 41%;
}

.texto-banner-secundario{
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    /* line-height: 65px; */
    text-align: center;
    color: #FFFFFF;
    max-width: 685px;
    width: 48%;
}

.box-formularios{
    max-width: 835px;
    width: 80%;
    margin: 0 auto;
    border: 3px solid #7A2D72;
    border-radius: 15px;
    padding: 40px 40px 80px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.tab-bar{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tab-ativa{
    font-family: 'Titillium Web';
    font-style: normal;
    /* FONT-VARIANT: JIS83; */
    font-size: 22px;
    color: #933FA8;
    display: flex;
    align-items: center;
    border-bottom: solid 3px #933FA8;
    font-weight: 600;
}

.msg-icon{
    width: 30px;
    margin-right: 8px;
}

.tab-inativa{
    font-family: 'Titillium Web';
    font-style: normal;
    /* FONT-VARIANT: JIS83; */
    font-size: 22px;
    color: #371A45;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.questao-icon{
    width: 30px;
    margin-right: 8px;
}

.questionario{
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.texto-questionarios{
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    color: #371A45;
    margin: 20px 0 50px;
}

.container-form-questionario{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-input-questionario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.container-input-questionario select{
    color: #C79EDB;
}


.input-criar-questionario{
    background: #F0F0F0;
    border: 3px solid #371A45;
    border-radius: 4px;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #6b3f80;
    width: 99%;
}

.container-form-questionario input::placeholder{
    color: #C79EDB;
}

.container-form-questionario input,.container-form-questionario select{
    padding: 3px 0;
}

.container-input-questionario input{
    width: 45%;
}

.container-input-questionario select{
    width: calc(45% + 6px);
}

.input-assunto-criar-questionario{
    background: #F0F0F0;
    border: 3px solid #371A45;
    border-radius: 4px;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #6b3f80;
    width: 70%;
    margin: 40px 0;
}

.btn-criar-questionario {
    background: #371A45;
    border-radius: 4px;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    padding: 10px 30px;
}

.icon-form{
    margin: 0 10px 0 0;
}

.questoes{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
    animation-name: AlterarTab;
    animation-duration: 1s;
}

.questionario{
    display: flex;
    animation-name: AlterarTab;
    animation-duration: 1s;
}

.questoes-icon{
    fill: #933FA8;
}

.questionarios.icon{
    fill: #371A45;
}

.tab-bar{
    cursor: pointer;
}

.container-banner-principal{
    width: 50%;
}

@media (max-width:1400px){
    .texto-principal {
        font-size: 50px;
    }
}

@media (max-width:1262px){
    .texto-principal {
        font-size: 40px;
        line-height: 65px;
    }

    .btn-volta{
        font-size: 22px;
    }

    .btn-criar{
        font-size: 22px;
    }

    .figura-questionario {
        width: 46%;
    }

    .container-banner-principal {
        width: 47%;
    }

    .texto-banner-secundario {
        font-size: 20px;
    }
}

@media (max-width:850px){
    .banner-principal {
        padding-top: 20px;
    }

    .texto-principal {
        font-size: 31px;
        line-height: 60px;
    }

    .btn-criar{
        padding: 7px 45px;
    }

    .texto-banner-secundario {
        font-size: 18px;
    }

    .tab-bar {
        width: 75%;
    }

    .texto-questionarios {
        font-size: 33px;
    }

    .container-form-questionario input,.container-form-questionario select{
        padding: 1px 0;
    }
}

@media (max-width:758px){
    .texto-principal {
        font-size: 26px;
        line-height: 52px;
    }

    .btn-criar{
        margin-right: 15px;
        font-size: 19px;
    }
}

@media (max-width:651px){

    .questoes {
        margin-top: 30px;
    }

    .questionario{
        margin-top: 30px;
    }

    .icon-questionario svg {
        width: 25px;
    }

    .icon-questao svg{
        width: 30px;
    }

    .texto-questionarios {
        font-size: 27px;
        margin: 20px 0 30px;
    }

    .box-formularios {
        padding: 40px 15px 80px;
        width: 90%;
    }

    .tab-bar{
        min-width: 322px;
    }

    .texto-principal {
        font-size: 18px;
        line-height: 29px;
    }

    .btn-criar {
        margin-right: 15px;
        font-size: 14px;
        padding: 7px 30px;
        border-radius: 3px;
    }

    .btn-volta {
        font-size: 16px;
    }

    .banner-secundario {
        flex-direction: column;
    }

    .texto-banner-secundario {
        font-size: 18px;
        width: 100%;
        margin-top: 30px;
    }

    .tab-bar{
        min-width: 255px;
    }

    .tab-bar div{
        font-size: 16px;
    }

    .texto-questionarios {
        font-size: 24px;
        margin: 0px 0 22px;
    }

    .input-assunto-criar-questionario {
        margin: 10px 0 26px;
    }
    
    .container-form-questionario input,.container-form-questionario select{
        font-size: 18px;
    }

    .container-input-questionario select{
        height: 35px;
    }

    .zerar-margin{
        margin-top: 0;
    }

    .btn-criar-questionario {
        margin-top: 20px;
        font-size: 19px;
    }
    
}

@media (max-width:440px){
    .figura-questionario {
        display: none;
    }

    .container-banner-principal {
        width: 70%;
    }

    .banner-principal {
        justify-content: center;
    }

    .box-formularios {
        padding: 40px 15px 25px;
    }

    
}




@keyframes mostrar {
    from{
      opacity: 0;
      transform: translate3d(0, -30px, 0);
    }
    to{
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
@keyframes AlterarTab {
from{
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
}
to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
}