@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Titillium+Web:wght@300;400;600;700;900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

.main-meuschats{
    padding-top: 90px;
}

.banner-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    width: 80%;
    margin: 0 auto;
}

.figura-questionario{
    width: 550px;
}

.texto-principal{
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 90px;
    color: #662F81;
    max-width: 770px;
}

.btn-banner-principal{
    max-width: 365px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.btn-criar{
    background: #371A45;
    border-radius: 5px;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
    padding: 7px 62px;
}

.btn-volta{
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-decoration-line: underline;
    color: #371A45;
}

.banner-secundario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #371A45;
    padding: 75px 10%;
    margin: 60px 0px;
}

.figura-banner-secundario {
    width: 470px;
}

.texto-banner-secundario{
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    /* line-height: 65px; */
    text-align: center;
    color: #FFFFFF;
    max-width: 685px;
}

.box-formularios{
    width: 835px;
    margin: 0 auto;
    border: 3px solid #7A2D72;
    border-radius: 15px;
    padding: 40px;
    height: 700px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.tab-bar{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tab-questionario{
    font-family: 'Titillium Web';
    font-style: normal;
    /* FONT-VARIANT: JIS83; */
    font-size: 22px;
    color: #933FA8;
    display: flex;
    align-items: center;
    border-bottom: solid 3px #933FA8;
    font-weight: 600;
}

.msg-icon{
    width: 30px;
    margin-right: 8px;
}

.tab-questoes{
    font-family: 'Titillium Web';
    font-style: normal;
    /* FONT-VARIANT: JIS83; */
    font-size: 22px;
    color: #371A45;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.questao-icon{
    width: 30px;
    margin-right: 8px;
}

.questionario{
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.texto-questionarios{
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    /* line-height: 99px; */
    color: #6b3f80;
}